.product-container {
	width: 300px;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 5px;
}

.product-details {
	margin-top: 0px;
	background-color: rgb(236, 236, 236);
	padding: 10px;
}

.product-description {
	margin-top: 20px;
	color: #777;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
	font-size: 1em;
}
.image-container {
	padding: 30px;
	border-bottom: 1px solid rgb(221, 221, 221);
}
.image-container > img {
	min-height: 150px;
	max-height: 150px;
	object-fit: cover;
	object-position: center;
}
.shop-button {
	float: right;
}

.shop-products {
	padding: 30px;
}
.product-name:hover {
	cursor: pointer;
}
