body {
	overflow-x: hidden !important;
}
.product-description {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
	font-size: 1em;
}
.card-img-top {
	min-height: 220px;
	max-height: 220px;
	object-fit: contain;
}
.product-price-badge {
	position: absolute;
	left: -15px;
	bottom: 260px;
	padding: 8px;
	width: 80px;
	font-size: 15px;
	background-color: #2d2d2d;
	border-color: #2d2d2d;
	border-radius: 6px;
	box-shadow: 3px 5px 5px rgb(173, 173, 173);
}

.feature-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 400px;
}
.feature-icon {
	font-size: 50px;
	font-weight: 100;
}
.icon-cont {
	position: relative;
}
.icon-cont > i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.features-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
h1,
h2 {
	font-weight: 100;
}
.fa-shopping-cart,
.fa-dolly {
	margin-right: 10px;
}

.awssld {
	width: 100%;
	height: 350px;
}
.awssld__content {
	background-color: #ffffff;
}
.awssld__bullets {
	display: none;
}
.testimonials-card {
	width: 100%;
}
.testimonials-card-header,
.testimonials-card-footer {
	background-color: #ffffff;
}
.testimonial-rating {
	color: rgb(255, 187, 0);
	margin: 2px;
}

#exampleFormControlTextarea1 {
	border: 1px solid rgb(228, 228, 228);
}

.contact-form-input {
	border-radius: 0 !important;
}

.contact-form-submit {
	background-color: rgb(63, 63, 63);
}
/* .get-in-touch {
	width: 30%;
} */
.content-left {
	position: absolute;
	left: 0;
	top: 30%;
	text-align: left;
}

.about-section {
	padding: 30px;
}

.section-image {
	width: 100%;
	height: 80%;
	object-fit: contain;
}
.bg-info {
	background-color: #2d2d2d !important;
}
.team-member-image {
	width: 400px;
}
.shop-header-image {
	/* background-attachment: fixed !important; */
	background-position: 0px -240px !important;
}

.front-page-image.laptops {
	max-height: 900px;
}

.front-page-image.tablets,
.front-page-image.phones {
	max-height: 500px;
	object-fit: contain;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
}
.span-row-2 {
	grid-row: span 2 / auto;
}
.span-row-2.front-page-image {
	height: 1100px;
	background-size: cover;
}
.front-page-image {
	background-size: cover;
	background-position: center;
	transition: all 0.5s ease;
	position: relative;
}
.front-page-image:hover {
	transform: scale(1.05);
	z-index: 200;
}
.fa-arrow-circle-right {
	font-size: 50px;
	color: white;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.fa-arrow-circle-right:hover {
	cursor: pointer;
}
.card-footer,
.card-header {
	border: none;
}
.product-star {
	color: orange;
	font-size: 15px;
}
.reviews-amount {
	margin-left: 15px;
	font-weight: 400;
}
.product-price {
	font-size: 20px;
	color: #808080;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
	max-height: 150px;
	object-fit: contain;
}

.shipping-info {
	border-radius: 5px;
	padding: 8px;
	vertical-align: middle;
	margin-left: 10px;
	background-color: #434443;
	border-color: #434443;
	font-size: 13px;
}
.image-gallery-image {
	max-height: 600px !important;
}
#dropdownMenuButton {
	background-color: transparent !important;
	display: block;
	margin-top: 0px;
	margin-left: 18px;
	padding: 10px;
}
.cart-dropdown {
	padding: 5px;
}
.cart-item-image {
	max-height: 250px;
	min-height: 250px;
	object-fit: contain;
}

.total {
	color: #2d2d2d;
	font-size: 20px;
	margin-right: 15px;
}
.product {
	position: relative;
}
.remove-item {
	display: block;
	color: red;
	text-decoration: underline;
}
.remove-item:hover {
	cursor: pointer;
}

#items-display {
	position: relative;
	left: 0px;
}
.slide-left {
	transition: 0.5s;
	left: -5000px !important;
}
.slide-right {
	transition: 0.5s;
	left: 0px !important;
}
#checkout-form-display {
	position: relative;
	right: -5000px;
}
.form-slide-left {
	transition: 0.5s;
	right: 0px !important;
}
.form-slide-right {
	transition: 0.5s;
	right: -5000px !important;
}
.form-control {
	border-radius: 5px;
}
.order-complete-icon {
	font-size: 50px;
	color: rgb(71, 190, 71);
}
#order-submited {
	position: relative;
	right: -5000px;
}
/* .empty-star {
	margin-top: 13px;
} */
.testimonial-image {
	max-width: 150px;
	min-height: 150px;
	max-height: 150px;
	border-radius: 50%;
	object-fit: contain;
}
.team-member-picture {
	max-height: 150px;
	border-radius: 5px !important;
	object-fit: contain;
}

.team-player {
	text-align: center;
}
input.form-control {
	margin-top: 10px;
}
.testimonial-comment {
	font-weight: 100;
}
textarea.form-control {
	max-height: none;
}

/* Responsive */

@media screen and (max-width: 600px) {
	.grid {
		grid-template-columns: repeat(1, 1fr);
		width: 100%;
	}
	.span-row-2 {
		grid-row: span 5/ auto;
	}
}

/* ----------- */
.page-header-image {
	background-image: url(/dw/image/v2/AANG_PRD/on/demandware.static/-/Sites-lancome-us-Library/default/RichPDP/pexels-photo-3768894.jpeg);
}
.language-image {
	width: 20px;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 2px;
}
.lang-globe {
	width: 20px;
	margin-right: 10px;
}
.btn,
.navbar .navbar-nav > a.btn {
	background-color: #242424;
	border-radius: 5px;
	border: 0px solid white;
	width: 140px;
	vertical-align: middle;
}
